<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>engineering journal</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="../favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Poppins:400,400i,500,600,600i,700,700i&amp;display=swap" type="text/css" rel="preload" as="style" onload="this.rel='stylesheet'">

<link href="/css/style.min3ad9.css?v=e9292c23a6" type="text/css" rel="stylesheet">
<link href="/css/plugins.min3ad9.css?v=e9292c23a6" type="text/css" rel="preload" as="style" onload="this.rel='stylesheet'">

<script type="text/javascript">
	// Theme Config, check the documentation before edit this file
    var search_engine_key = 'ccfe18a43a77dba12371a803b5'; // example: e08514f918d175f017584aaf34
    var search_api = "/ghost/api/v2/content/posts/?key=" + search_engine_key + "&limit=all&include=tags";
	var theme_config = {
        sticky_sidebar: 'on', // on / off
		disqus_shortname: 'ghostexample', // You can create your own Disqus Comments here: https://disqus.com/admin/create/
	};
</script>

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="index.html" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="amphtml" href="amp/index.html" />
    
    <!-- <meta property="og:site_name" content="Airo" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Drone verify earthwork at park construction site" />
    <meta property="og:description" content="According to a report from Goldman Sachs released earlier this year,
construction will be the biggest commercial  sector for drone use in the near
future.

We saw a similar trend when we  examined DroneDeploy user data in our 
Commercial
Drone Industry Trends report
[https://blog.dronedeploy.com/a-closer-look-at-commercial-drone-industry-trends-f619477fbe83?source&#x3D;post_page---------------------------] 
— construction was the fastest-growing industry for drone use.

&gt; For  many, this trend isn’t " />
    <meta property="og:url" content="http://ghost.estudiopatagon.com/airo/drone-helps-verify-earthwork-at-hospital-construction-site/" />
    <meta property="og:image" content="http://ghost.estudiopatagon.com/airo/content/images/2019/08/david-henrichs-72AYEEBJpz4-unsplash-1.jpg" />
    <meta property="article:published_time" content="2019-07-24T23:21:00.000Z" />
    <meta property="article:modified_time" content="2019-08-09T03:34:31.000Z" />
    <meta property="article:tag" content="DJI" />
    <meta property="article:tag" content="Industry" />
    <meta property="article:tag" content="Hubsan" />
    
    <meta property="article:publisher" content="https://www.facebook.com/ghost" />
    <meta property="article:author" content="https://www.facebook.com/ghost" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Drone verify earthwork at park construction site" />
    <meta name="twitter:description" content="According to a report from Goldman Sachs released earlier this year,
construction will be the biggest commercial  sector for drone use in the near
future.

We saw a similar trend when we  examined DroneDeploy user data in our 
Commercial
Drone Industry Trends report
[https://blog.dronedeploy.com/a-closer-look-at-commercial-drone-industry-trends-f619477fbe83?source&#x3D;post_page---------------------------] 
— construction was the fastest-growing industry for drone use.

&gt; For  many, this trend isn’t " />
    <meta name="twitter:url" content="http://ghost.estudiopatagon.com/airo/drone-helps-verify-earthwork-at-hospital-construction-site/" />
    <meta name="twitter:image" content="http://ghost.estudiopatagon.com/airo/content/images/2019/08/david-henrichs-72AYEEBJpz4-unsplash-1.jpg" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Jane Robertson" />
    <meta name="twitter:label2" content="Filed under" />
    <meta name="twitter:data2" content="DJI, Industry, Hubsan" />
    <meta name="twitter:site" content="@tryghost" />
    <meta name="twitter:creator" content="@tryghost" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1336" />
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Airo",
        "logo": "http://ghost.estudiopatagon.com/airo/content/images/2019/07/logo-airo.png"
    },
    "author": {
        "@type": "Person",
        "name": "Jane Robertson",
        "image": {
            "@type": "ImageObject",
            "url": "http://ghost.estudiopatagon.com/airo/content/images/2019/07/photo-1530021232320-687d8e3dba54.jpg",
            "width": 1080,
            "height": 1620
        },
        "url": "http://ghost.estudiopatagon.com/airo/author/jane-robertson/",
        "sameAs": [
            "https://ghost.org",
            "https://www.facebook.com/ghost",
            "https://twitter.com/tryghost"
        ]
    },
    "headline": "Drone verify earthwork at park construction site",
    "url": "http://ghost.estudiopatagon.com/airo/drone-helps-verify-earthwork-at-hospital-construction-site/",
    "datePublished": "2019-07-24T23:21:00.000Z",
    "dateModified": "2019-08-09T03:34:31.000Z",
    "image": {
        "@type": "ImageObject",
        "url": "http://ghost.estudiopatagon.com/airo/content/images/2019/08/david-henrichs-72AYEEBJpz4-unsplash-1.jpg",
        "width": 2000,
        "height": 1336
    },
    "keywords": "DJI, Industry, Hubsan",
    "description": "According to a report from Goldman Sachs released earlier this year,\nconstruction will be the biggest commercial  sector for drone use in the near\nfuture.\n\nWe saw a similar trend when we  examined DroneDeploy user data in our \nCommercial\nDrone Industry Trends report\n[https://blog.dronedeploy.com/a-closer-look-at-commercial-drone-industry-trends-f619477fbe83?source&#x3D;post_page---------------------------] \n— construction was the fastest-growing industry for drone use.\n\n&gt; For  many, this trend isn’t ",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://ghost.estudiopatagon.com/airo/"
    }
}
    </script>

    <meta name="generator" content="Ghost 2.25" /> -->

    <link rel="alternate" type="application/rss+xml" title="Airo" href="../rss/index.html" />
    <style>
    .gradient-hubsan{ background: linear-gradient(to right bottom, #8E73FE, #FE5D9E); }
    .gradient-drocon{ background: linear-gradient(to right bottom, #FAD38C, #F45567); }
    .gradient-hover{ background: linear-gradient(to right bottom, #6F45FF, #A7CBFF); }
    .gradient-dji{ background: linear-gradient(to right bottom, #4CE9D6, #129BD2); }
    div.articles article a.thumb:before{
        background: linear-gradient(to right bottom, #2E3192, #000);
    	opacity: 0.25;
    }
    .pagination div.nav a{ margin-bottom: 0; }
</style>

</head>
<body class=" post-template tag-dji tag-industry tag-hubsan" >

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">

	<symbol id="tag" viewBox="0 0 24 24">
        <g>
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm.707 2.122L3.828 12l8.486 8.485 7.778-7.778-1.06-7.425-7.425-1.06zm2.12 6.364a2 2 0 1 1 2.83-2.829 2 2 0 0 1-2.83 2.829z"/>
        </g>
	</symbol>

    <symbol id="copy" viewBox="0 0 24 24">
        <g>
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z"/>
        </g>
    </symbol>

    <symbol id="calendar" viewBox="0 0 24 24">
        <g>
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zm-2 2H9v2H7V5H4v4h16V5h-3v2h-2V5zm5 6H4v8h16v-8z"/>
        </g>
    </symbol>

    <symbol id="envelope" viewBox="1 -95 511.99998 511">
        <path d="m16 32.5v256c0 8.835938 7.164062 16 16 16h448c8.835938 0 16-7.164062 16-16v-256l-240 112zm0 0" fill="#333"/><path d="m480 16.5h-448c-8.835938 0-16 7.164062-16 16l240 112 240-112c0-8.835938-7.164062-16-16-16zm0 0" fill="#333"/><path d="m512 32.117188c0-.207032 0-.386719 0-.59375-.527344-17.289063-14.699219-31.03125-32-31.023438h-448c-17.261719.042969-31.378906 13.769531-31.9023438 31.023438v.59375c0 .207031-.0976562.253906-.0976562.382812v256c0 17.671875 14.328125 32 32 32h448c17.671875 0 32-14.328125 32-32v-256c0-.128906 0-.257812 0-.382812zm-53.839844.382812-202.160156 94.398438-202.160156-94.398438zm-426.160156 256v-230.878906l217.230469 101.375c4.292969 2.003906 9.246093 2.003906 13.539062 0l217.230469-101.375v230.878906zm0 0" fill="#fff"/>
    </symbol>

</svg>
	<!-- start: #wrapper -->
	<div id="wrapper" class="grid-container grid-large grid-parent">

		<!-- start: #header -->
        <header id="header" class="grid-20">

            <div class="menu-mobile">
                <i class="fa fa-bars"></i>
            </div>
        
            <!-- start: .menu-wrapper -->
            <div class="menu-wrapper">
            
                <div class="">
                
                        <!-- <div class="logo" ><a href="http://ghost.estudiopatagon.com/airo"><img src="content/images/2019/07/logo-airo.png" alt="Airo"></a></div> -->
                        <div class="logo" ><a href="http://ghost.estudiopatagon.com/airo" style="">Engineering Journal</a></div>
        
                    
                    <!-- start: .main-nav -->
                    <nav class="main-nav grid-container grid-parent" role="navigation">
                        
                        <ul id="menu-header" class="menu">
                <li class="nav-home current-menu-item"><a href="/"><i class="remixicon remixicon-file-list-line"></i> Home</a></li>
                <li class=""><a href="/post/computer"><i class="remixicon remixicon-file-list-line"></i> Computer Eng.</a></li>
                <li class=""><a href="/post/mechanical"><i class="remixicon remixicon-file-list-line"></i> Mechanical Eng.</a></li>
                <li class=""><a href="/post/agric"><i class="remixicon remixicon-file-list-line"></i> Agric. Eng.</a></li>
                <li class=""><a href="/post/elect"><i class="remixicon remixicon-file-list-line"></i>Electrical Eng.</a></li>
                <li class=""><a href="/post/chem"><i class="remixicon remixicon-file-list-line"></i>Chemical Eng.</a></li>
                
                <% if (currentUser){ %>
                    <% console.log(currentUser) %>
                <li class="nav-author"><a  href="#">Logged in as <%=currentUser.username%></a></li>
                <li class="nav-item"><a style="text-align:center" href="/myPost">My Posts</a></li>
                <li class="nav-item"><a style="text-align:center" href="/post">Create Posts</a></li>
                <li class="nav-item"><a style="text-align:center" href="/logout">Sign Out</a></li>
                    <% } else{ %>
                <li class="nav-author"><a href="/login"><i class="remixicon remixicon-file-list-line"></i>Login</a></li>
                <li class="nav-author"><a href="signup"><i class="remixicon remixicon-file-list-line"></i>Signup</a></li>
                    <%}  %>
                
            </ul>
                        
                    </nav>
                    <!-- end: .main-nav -->
        <!-- cccccccccccccccccccccccccccccccccccccccccccccccccccccccc -->
                    <!-- <form action="#" method="get" class="hide-on-tablet hide-on-mobile hide-on-desktop-sm search-form">
                        <input type="text" name="s" value="" class="search-field" placeholder="Enter your search..." required>
                        <button type="submit" class="submit"><i class="remixicon-search-line"></i></button>
                    </form> -->
        
                    <div class="clear"></div>
                
                </div>		
                
                <div class="clear"></div>
                
            </div>
            <!-- end: .menu-wrapper -->
            
            <div class="clear"></div>
        
            <!-- <p class="copyright hide-on-mobile hide-on-tablet">Airo © 2019<br>Published with <a href="https://ghost.org/" target="_blank">Ghost</a></p> -->
        
        </header>
<!-- end: #header -->

<div id="form-lang" data-results-title="Results for your search"></div>

<div class="hide-on-desktop hide-on-tablet hide-on-mobile">
    <div id="search-lightbox" class="mfp-hide grid-container grid-small grid-parent">
        <div id="search-results" class="grid-container section"></div>
    </div>
</div>


        <div class="right-content grid-80">

            


<!-- start: #single -->
<main id="single" class="main grid-container standard" role="main">


    <!-- start: .center -->
    <div class="center">

        <!-- start: .content -->
        <div class="left-content grid-100 np-mobile">

                <div class="standard">

                        <div class="featured-image">
                            <img src=<%=foundPost.img%> >
                                <div class="tags absolute hide-on-mobile">
                                        <a style="font-size:20px;" href="#" class="ctag ctag-dji" data-id="ctag-dji"><%=foundPost.category%></a>
                                       
                                </div>
                            <div class="info">
                                <h1 class="title ularge white bold"><%=foundPost.topic%></h1>
                            </div>
                        </div>

                    <div class="clear"></div>

                </div>

            <article class="main-article bg-white post tag-dji tag-industry tag-hubsan grid-100">

                <section class="post-content" >

                    <!-- start: .meta -->
                    <div class="meta" style="font-size:18px;">
                            <a href="#" class="author meta-info" title="Jane Robertson">                                        
                                    <span class="author-image cover" style="background-image: url( ../content/images/2019/07/photo-1530021232320-687d8e3dba54.jpg);"></span>
                                <span class="author-name"><%=foundPost.author.fullname%></span>
                            </a>
                        
                        
                        <a href="#comments" class="comments meta-info"><i class="remixicon remixicon-chat-2-line"></i> <span class="disqus-comment-count" data-disqus-url="http://ghost.estudiopatagon.com/airo/airo/drone-helps-verify-earthwork-at-hospital-construction-site/" data-disqus-identifier="5d3cdca248d02a0592b83031">0</span></a>     

                        <time class="meta-info" datetime="2019-07-24"><i class="remixicon remixicon-calendar-line"></i> <%=foundPost.created.toLocaleDateString()%></time>

                        <div class="clear"></div>
                    </div>
                    <!-- end: .meta -->

                    <div class="text" style="font-size:25px;"><%=foundPost.article%></div>

                    

                </section>

            </article>
            
            <% if(currentUser && foundPost.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
           <div style="margin-top:10px; text-align:center; display:flex">
                <a style="margin-right:30px;" href="/post/<%=foundPost._id%>/edit" class="button small absolute">edit</a>
                <form action="/post/<%=foundPost._id%>?_method=DELETE" method="post">
                    <button type="submit"  style="background-color:red; margin-left:10px;" class="button small absolute">delete</button>
                </form>
           </div>
           <%}%>
            
           <div class="clear"></div>
            
            <div class="clear"></div> 

            <div id="comments" class="section bg-white">
                <h3 class="title small no-margin"><span>Comments</span></h3>

                <!-- <div class="section" style="width:100%; margin-bottom:15px; padding-bottom:10px;   border-bottom:5px solid red">
                    <div class="" style="width:100%; background:whitesmoke; color:black; height:30px; border-radius:10px; display:flex; justify-content:space-around; margin-bottom:10px;">
                    <p> <span>by</span> chigozie ezechukwu</p> <p>12/13/2019</p>
                    </div>
                <p>i think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it upi think this is a very nice article, congrats, keep it up</p>

                
                <div style="margin-top:10px;  text-align:center; display:flex">
                    <a style="margin-right:30px;" href="/post/<%=foundPost._id%>/edit" class="button small absolute">edit</a>
                    <form action="/post/<%=foundPost._id%>?_method=DELETE" method="post">
                        <button type="submit"  style="background-color:red; margin-left:10px;" class="button small absolute">delete</button>
                    </form>
             
               </div>
                </div> -->

                <%if(foundPost.comments.length === 0){%>
                    <p>no comments</p>
                <%} else {%>
                    <%foundPost.comments.forEach(function(comment){ %>
                        
                    <div class="section" style="width:100%; margin-bottom:15px; padding-bottom:10px;   border-bottom:3px solid red">
                        <div class="" style="width:100%; background:whitesmoke; color:black; height:30px; border-radius:10px; display:flex; justify-content:space-around; margin-bottom:10px;">
                        <p> <span>by </span><%=comment.author.username%></p> <p><%=comment.created.toLocaleDateString()%></p>
                        </div>
                    <p><%=comment.text%></p>
    
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <div style="margin-top:10px;  text-align:center; display:flex">
                        <a style="margin-right:30px;" href="/post/<%=comment._id%>/<%=foundPost._id%>/comments/edit" class="button small absolute">edit</a>

                        <form action="/post/<%=comment._id%>/<%=foundPost._id%>/comments/delete?_method=DELETE" method="post">
                            <button type="submit"  style="background-color:red; margin-left:10px;" class="button small absolute">delete</button>
                        </form>
                       
                   </div>
                   <%}%>
                    </div>
                  <% })%>
                <%}%>

        





                <!-- <div id="disqus_thread"></div> -->
            </div>

            <div class="content" style="text-align:center">
                <a style="margin-top:30px;" href="/post/<%=foundPost._id%>/comments/new" class="button small absolute">add comment</a>
            </div>

            <!-- end: disqus integration -->

            <div class="clear"></div>
        </div>
        <!-- end: .content -->

        <!-- start: #sidebar -->

        <div class="clear"></div>

    </div>
    <!-- end: .center -->

</main>
<!-- end: #single -->




        </div>    

        <div class="clear"></div> 

        

    </div>
    <!-- end: #wrapper -->
    

    <script type="text/javascript">
	// Theme Config, check the documentation before edit this file
    var search_engine_key = 'ed425368fe282038e27a88a9bd'; // example: e08514f918d175f017584aaf34
    var search_api = "/airo/ghost/api/v2/content/posts/?key=" + search_engine_key + "&limit=all&include=tags";
	var theme_config = {
		masonry: 'off', // If you don't need masonry style, just set to "off"
        sticky_sidebar: 'on', // on / off
		disqus_shortname: 'ghostexample', // You can create your own Disqus Comments here: https://disqus.com/admin/create/
	};
</script>
    <script type="text/javascript" src="/js/scripts.min3ad9.js?v=e9292c23a6" defer></script>
</body>

<!-- Mirrored from ghost.estudiopatagon.com/airo/drone-helps-verify-earthwork-at-hospital-construction-site/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Dec 2019 22:21:45 GMT -->
</html>
